* {
  background-color: #000000;
}

.album-name {
  font-weight: 500;
  text-decoration: underline;
  font-style: normal;
  color: #ffffff;
  margin-left: 1%;
  white-space: nowrap;
}

.track-list {
  color: #ffffff;
  font-style: italic;
  margin-left: 1%;
  white-space: nowrap;
}

.track-artist {
  color: rgb(100, 100, 100);
  font-style: normal;
  margin-left: 1%;
  white-space: nowrap;
}

.img {
  gap: 10%;
}
